
.adg-card {
    display: flex;
    flex-direction: column;
    //border: 1px solid var(--color-neutral);
    border-radius: 25px;
    //padding: 0px var(--margin-xs);
    //justify-content: center;
    //align-items: center;
    background-color: var(--color-surfaceContainerHighest);
    overflow: hidden;
}

.adg-card > img {
    width: 100%; // la taile de l'image doit etre calculée en fonction de la grille et de la var --container-width
    height: 300px;
    margin-bottom: var(--margin-xs);
    //border-radius: 50%;
}
.adg-card > h3 {
    text-align: center;
}
.adg-card > p {
    text-align: center;
    margin: var(--margin-xs);
}

.adg-icon-box{
    display: flex;
    flex-direction: column;
    padding: var(--margin-xs);
    justify-content: center;
    align-items: center;
}
.adg-icon-box > span {
    font-size: 45px;
}

    .adg-icon-box > h3 {
        text-align: center;
    }
    .adg-icon-box > p {
        text-align: center;
    }



    .atm-item-card > p {
        font-size: 12px;
      }
      
      .atm-card{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50px;
        border-radius: 10px;
        background-color: #fff;
       // margin-top: 10px;
        //align-items: center;
       // padding-left: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        overflow: hidden;
        &.for-new{
          @include background('surfaceAccent');
         // border: 1px dashed var(--color-neutral);
          font-weight: 600;
          align-items: center;
          justify-content: center;
          min-height: 250px;
          &:hover{
              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
              cursor: pointer;
          }
      }
      &.x-center {
        align-items: center
      }
      &.x-flexend{
        align-items: flex-end
      }
      &.y-center {
        justify-content: center
      }
      &.y-flexend{
        justify-content:flex-end
      }
      &.space-between{
        justify-content:space-between
      }
      &.space-around{
        justify-content:space-around
      }
      &.space-evenly{
        justify-content:space-evenly
      }
      
      }
      
      .atm-card-bottom {
        //background-color: #d41111;
        border-top: 1px solid var(--color-neutral);
        display:flex;
        flex-direction: row;
        justify-content: center;
        color: #3b78e7;
      
        &:hover{
            background-color: #f0f4fd;
            cursor: pointer;
        }
      }