.load {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: #000000;
    place-items: center;
  
}


.spinner {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.spinner .circle {
    animation: spinners linear infinite;
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #F00;
    border-radius: 50%
}

.spinner .one {
    width: 50px;
    height: 50px;
    border-top-color: #114b85;
    animation-duration: .85s
}

.spinner .two {
    width: 70px;
    height: 70px;
    border-top-color: #185fa7;
    animation-duration: .95s
}

.spinner .three {
    width: 100px;
    height: 100px;
    border-top-color: #2b82d8;
    animation-duration: 1.05s
}


@keyframes spinners {
    0% {
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(360deg)
    }
}

.text-center{
    text-align: center;
}