<app-header></app-header>

@if(!loaded){
    <div id="loader" class="load" >
        <div class="spinner">
            <div class="circle one"></div>
            <div class="circle two"></div>
            <div class="circle three"></div>
        </div>
        <h1 class="text-center">Chargement du contenu</h1>
        <span class="text-center">Propulsé par ADANGO ©</span>
        
    </div>
}@else{
    

    @if(isModule){
        <div id="module">
            <ng-template #TemplateRefAnchor></ng-template>
        </div>
    }@else{
        <div id="section2" [innerHtml]="htmlFront | sanitize"></div>
    }
}




<app-footer></app-footer>
