@use "sass:map";

$theme-colors: (
    success: #28a745,
    info: #17a2b8,
    warning: #ffc107,
);

$primary: #3b78e7;
$secondary: #0080ff;
$tertary: #F5F8FD;
$white: #fff;
$gray: #9b9b9b;



$colors: (
    primary: var(--primary),
    secondary: var(--secondary),
    on-primary: var(--on-primary),
    on-secondary : var(--on-secondary),
    surface : var(--surface),
);

$breakpoints: (
    mobile: 600px,
    tablet:960px,
);

/* CSS */
.button-6 {
  align-items: center;
  background-color: var(--primary);
  color:var(--on-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(3.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: fit-content;

  &.is-mobile {
    @media (min-width: map.get($breakpoints, mobile)) {

        display: none;
        }
}
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: #59211d;
  color: var(--on-primary);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: flex;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-decoration: none;
  
  &.margin-top{
  margin: 20px 0px 0px 0px;
  }
  
  &.primary {
      background-color: $primary;
      color: #fff
  }
  
  }
  
  .button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
  
  &.primary {
      &.primary {
          background-color: #265fc9;
          color: #fff
      }
  }
  }
  
  .button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
  }
  
  .button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
  }
  
  .button-4:focus {
  outline: 1px transparent;
  }
  
  .button-4:before {
  display: none;
  }
  
  .button-4:-webkit-details-marker {
  display: none;
  }
  